.game-section * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.game-section {
	width: 100%;
	max-width: 600px;

	height: 100vh;
	max-height: 600px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {
	font-family: 'Press Start 2P', cursive;
}

.header-text {
	text-align: center;
	padding: 20px 0;
	color: rgb(114, 114, 114);
	font-size: 30px;

	transition: color .2s linear;
}

.header-text--died {
	color: red;
}

.header-info-section {
	font-display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.text-total-score {
	margin: 0 0 10px 0;
}

.text-record {
	margin: 0 0 10px 0;
}

.game-field {
	width: 100%;
	max-width: 500px;

	height: 100vh;
	max-height: 500px;

	border: 1px solid #000;

	display: flex;
	flex-direction: column;
}

.row {
	height: 12.5%;
	display: flex;
}

.cell {
	height: 100%;
	width: 12.5%;
	border: 1px solid #000;
}

.cell--snake {
	background-color: rgb(114, 114, 114);
}

.cell--food {
	background-color: rgb(200, 252, 11);
}